<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body style = "margin: 20px" >
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
      
    <!-- Latest Mars News row-->
    <div class="row">
      <div class="col-md-12"/>
        <h3>Latest Mars News</h3>
        <strong><h4>{{ mars.news1 }}</h4></strong>
        <p>{{ mars.news2 }}</p>
      </div>
    </div>
    <!--Featured image, weather and facts table row-->
    <div class="row">
      <div class="col-md-6"/>
        <h3>Featured Mars Image</h3>
        <img src= {{ mars.image }} style="width:125%"/>
      </div>
      <div class="col-md-2"/>
      </div>
      <div class="col-md-4"/>
        <div class="container-fluid" style="border:2px solid #cecece;"/>  
          <h4>Current Weather on Mars</h4>
          <p>{{ mars.weather }}</p>
        </div>
        <div class="container"/>
          <h4>Mars Facts</h4>  
          {{ mars.table|safe }}
        </div>  
      </div>
    </div>
    <!--Hemispheres-->
    <h2 class="text-center">Mars Hemispheres</h2>
    <!--Add images hemispheres here -->
    <div class="row" style="padding-bottom:20px">
      <div class="col-md-6">
        <img src= {{ mars.hemispheres[0]["img_url"] }} alt="Cerberus Hemisphere" style="width:100%"/>
          <h3> {{ mars.hemispheres[0]["title"] }}</h3> 
      </div>
      <div class="col-md-6">
        <img src= {{ mars.hemispheres[1]["img_url"] }} alt="Schiaparelli Hemisphere" style="width:100%"/>
          <h3> {{ mars.hemispheres[1]["title"] }}</h3> 
      </div>
      <div class="col-md-6">
        <img src= {{ mars.hemispheres[2]["img_url"] }} alt="Syrtis Major Hemisphere" style="width:100%"/>
          <h3> {{ mars.hemispheres[2]["title"] }}</h3> 
      </div>
      <div class="col-md-6">
        <img src= {{ mars.hemispheres[3]["img_url"] }} alt="Valles Marineris Hemisphere" style="width:100%"/>
          <h3> {{ mars.hemispheres[3]["title"] }}</h3> 
      </div>
    </div>
</body>
</html>